body {
	margin: 0;
	background: black;
	color: white;
	font-family: Arial, sans-serif;
}

.hero {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
